<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      <% if (lang === 'pt_br') { %>
        Identifique-se
      <% } else { %>
        Identify yourself
      <% } %>
    </title>

    <style>
      body {
        background: #f8f9fa;
        font-family: Arial, Helvetica, sans-serif;
        color: #343a40;
        font-size: 17px;
        font-weight: 400;
        padding: 15px;
        margin: 0;
      }
      a {
        -webkit-transition: 0.7s;
        transition: 0.7s;
      }
      body > * {
        max-width: 100%;
        width: 300px;
        margin: 0 auto;
      }
      body > p {
        margin: 10px auto 0 auto;
        text-align: center;
        font-size: 13px;
        line-height: 1.3;
      }
      body > p a {
        text-decoration: none;
        color: #e83e8c;
      }
      body > p a:hover {
        color: #c11a69;
      }
      body > p .fa-lock {
        font-size: 18px;
        color: #28a745;
      }
      #box {
        padding: 20px;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      }
      #box > div {
        width: 100%;
      }
      #box > div > div {
        margin-bottom: 20px;
      }
      #box > div > a {
        display: block;
        padding: 14px;
        margin-bottom: 7px;
        white-space: nowrap;
        border-radius: 3px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        text-transform: none;
        text-decoration: none;
        border-width: 1px;
        border-style: solid;
        color: #fff;
      }
      #box > div > a > span {
        display: inline-block;
        width: 27px;
        text-align: center;
        margin-right: 5px;
      }
      .facebook {
        background: #3b5999;
        border-color: #2f4d8a;
      }
      .facebook:hover {
        background: #274480;
        border-color: #274480;
      }
      .google {
        background: #cb4023;
        border-color: #be3419;
      }
      .google:hover {
        background: #c1361a;
        border-color: #c1361a;
      }
      .windows {
        background: #329ffc;
        border-color: #2996f2;
      }
      .windows:hover {
        background: #1f8ce9;
        border-color: #1f8ce9;
      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  </head>

  <body>
    <div id="box">
      <div>
        <div>Store name</div>
        <% for (var strategy in providers) { %>
          <% if (providers.hasOwnProperty(strategy)) { %>
            <% var link = baseUri + strategy + oauthPath; %>
            <% var provider = providers[strategy]; %>
            <a class="<%= provider.htmlClass %>" href="<%= link %>">
              <span>
                <i class="fab <%= provider.faIcon %>"></i>
              </span>
              <% if (lang === 'pt_br') { %>
                Entrar com <%= provider.providerName %>
              <% } else { %>
                Login with <%= provider.providerName %>
              <% } %>
            </a>
          <% } %>
        <% } %>
      </div>
    </div>
    <p>
      <% if (lang === 'pt_br') { %>
        Esta loja utiliza login social para <b>sua segurança e praticidade</b>,
        <a href="/site/" target="_blank">saiba mais</a>
      <% } else { %>
        This shop uses social login for <b>your security and convenience</b>,
        <a href="/site/en_us.html" target="_blank">learn more</a>
      <% } %>
    </p>
    <p>
      <i class="fas fa-lock"></i>
    </p>
  </body>
</html>
